<app-navbar></app-navbar>
<main>
    <div class="container my-12 mx-auto px-4 md:px-12 bg-white  py-20 shadow-xl ">
        <div class=" px-2 about mx-auto px-4 aboutC">
                    
                <div class="px-3 mb-10 h-50">
                <h1 class="uppercase font-bold p-2 text-8xl mb-5 blockAbout">About Us</h1>
                </div>
                <div class="grid gap-4 grid-cols-2 mt-7">
                <div class=" bg-base-100 mx-1 flex  content-center justify-center mb-5 mt-10  cAbout aboutCards">
                    <img class="animate-bounce absolute top-9" src="../assets/images/2596_blk_preview.png" alt="">
                </div>
                <div class=" bg-base-100  shadow-xl text-center flex flex-col content-center justify-center mb-5 mt-10  aboutCards">
                    <h1 class="text-4xl mb-5 mv font-extrabold" >Our Mission</h1>
                    <p class="p-4 text-navy-700 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class=" bg-base-100  shadow-xl text-center flex flex-col content-center justify-center mb-5 mt-10 p-3 h-64 aboutCards ">
                    <h1 class="text-4xl mb-5 font-extrabold ms">Our Vision</h1>
                    <p class="p-4 text-navy-700 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class=" bg-base-100 text-center mx-1  flex flex-col content-center justify-center mb-5 mt-10 p-3 aboutCards">
                    
                    <a class="btn btn-primary w-60 mx-auto">learn more</a>
                </div>
                </div>
                <!-- <div class=" w-1/2 bg-base-100 float-right shadow-xl mx-1 text-center p-3 mb-5 mt-10  ">
                <h1 class="text-4xl mb-5 mv" >Our Mission</h1>
                <p class="p-4 text-navy-700 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class=" w-1/2  bg-base-100 float-left shadow-xl mx-1 text-center p-3 mt-3">
                <h1 class="text-4xl mb-5 ms">Our Vision</h1>
                <p class="p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div> -->
            
            

            </div>
    </div>
    

</main>
<app-footer></app-footer>