<app-navbar></app-navbar>
    
    <div class="carouselWrapper border w-full">
      <div class="  carousel h-full ">
    
        <div class="carousel-item w-full ">
          <div class="overlay">
            <div class="  flex flex-col h-full text-white justify-end gap-2   items-start w-2/3 mx-auto">
              
              <h1 class="overl text-white font-extrabold text-9xl sm:text-5xl lg:text-6xl text-center dark:text-white">Easily connect with service providers for those in need of elderly care</h1>
              <p class="text-center text-xl"> Whether you are searching for basic items or expert care services, our website is the ideal place for your needs.</p>

              <!--Start of search area-->
              <div class="w-full  text-center py-2">
                <!-- <a class="bg-slate-900 w-1/3 mx-auto hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold h-12 rounded-lg flex items-center justify-center xs:w-auto dark:bg-sky-500 dark:highlight-white/20 dark:hover:bg-sky-400" href="/docs/installation"><span>Get started</span>
                  <svg class="w-6 h-6 text-white-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                  </svg>
                </a> -->
                <div class=" py-2 relative ">
                  <form class="srch_wrapper mx-auto border-2 rounded-md shadow-lg  ">   
                      <div class="flex bg-white py-2 ">
                          <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                          <div class="relative w-1/2  flex ">
                              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                  </svg>
                              </div>
                              <input type="search" id="default-search" class="block w-full  px-4 py-2 ps-10 text-sm text-gray-900 border-none search-cancel focus:outline-none focus:ring-0 "  placeholder="Search..." required />
              
                          </div>
              
                          <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                          <div class= "border-l relative w-1/2 ">  
                              
                              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                  <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"/>
                                  </svg>
                                  
                              </div>
                          <input type="search"  id="default-search" class="block w-full px-4 py-2 ps-10 text-sm border-none outline-none search-cancel focus:ring-0 " placeholder= "E.g Cape Town">
                          </div>
                      </div>
                  
                     
                      <!-- <button type="submit" class="text-white absolute end-2.5 bottom-2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 search-cancel">X</button> -->
                
                  </form>
                  <!-- <div class="search_results mt-1 absolute left-1/4 h-auto border-2 w-1/2  bg-white p-2">
                      <p class="">Search results...</p>
                  </div> -->
                </div>
              </div>
              
              
            </div>
    
          </div>
          <img src="../assets/images/nurse-holding-senior-man-s-hands-comfort_23-2148740009.avif" class="w-full" alt="Tailwind CSS Carousel component" />
        </div> 
        <div class="carousel-item w-full">
          <img src="../assets/images/nurse-holding-senior-man-s-hands-comfort_23-2148740009.avif" class="w-full" alt="Tailwind CSS Carousel component" />
        </div> 
        <div class="carousel-item w-full">
          <img src="https://daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
        </div> 
        <div class="carousel-item w-full">
          <img src="https://daisyui.com/images/stock/photo-1494253109108-2e30c049369b.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
        </div> 
        <div class="carousel-item w-full">
          <img src="https://daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
        </div> 
        <div class="carousel-item w-full">
          <img src="https://daisyui.com/images/stock/photo-1559181567-c3190ca9959b.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
        </div> 
        <div class="carousel-item w-full">
          <img src="https://daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
        </div>
      </div>
    </div>


    <main>
    
      <div class="container my-12 mx-auto px-4 md:px-12 bg-white  pb-20 shadow-xl containerMain">
        <!--Start of Categories-->
        <div class="">
          <h1 class="font-bold text-sm my-6">Find By <span class="text-fuchsia-600">Category</span>
          </h1>
        </div>
        <div class="flex flex-wrap -mx-1 lg:-mx-4  pb-10 ">
          @for(item of categories$; track item){
              <div class="my-1 px-1 w-full md:w-1/4 lg:my-4 lg:px-4 lg:w-1/4 ">
                <!-- Article -->
                <article class="overflow-hidden rounded-lg  card_items">
    
                    <a class="relative" routerLink= '/categories'>
                        <img alt="Placeholder" class="block  w-full h-full" src="../assets/images/layered-peaks-haikei.png"> 
                        <h1 class=" text-center absolute top-7 text-2xs w-full itemClass text-gray-500" >
                          {{item.class}}
                        </h1>
                    </a>
                </article>
                <!-- END Article -->
              </div>
          }
          
    
    
          
        </div>
        <!--End of Categories-->

        <!--Start of Categories-->
        <div class="mb-10 containerW  ">
          <!-- <img class="imgWhat" src="../assets/images/2596_REpWIE1BUiAzMTEtMTA-removebg-preview.png" alt=""> -->
          <h1 class="text-8xl font-extrabold what uppercase joinH1 text-center p-5 ">Join Our Community!</h1>
          <div class="flex justify-center gap-4 mt-7 p-5  b_listing lg:w-full md:w-full xl:w-full  ">
            <div class="card-body w-1/3 p-3  rounded shadow-xl ">
              <h1 class=" wBtn text-xl rounded  uppercase w-1/2  "><span>For Service Providers:</span></h1>
              <ul class="mb-4 list-disc pl-10">
                <li>Advertise your services to a targeted audience.</li>
                <li>Connect with individuals in need of your expertise.</li>
                <li>Expand your business and help those in your community.</li>
                
              </ul>
              <button class="btn btn-sm btn-secondary w-32 mb-5">Learn More</button>
            </div>

            <div class="divider divider-horizontal font-extrabold">OR</div>

            <div class="card-body w-1/3 p-3  rounded shadow-xl">
              <h1 class="wBtn text-xl font-extrabold  rounded  uppercase w-1/2"><span>Discover local services:</span></h1>
              <ul class="mb-4 list-disc pl-10">
                <li>Discover local services tailored to elderly care needs.</li>
                <li>Access a variety of professionals and products with ease.</li>
                <li>Ensure your loved ones receive the best possible care.</li>
              </ul>
              <button class="btn btn-sm btn-secondary w-32">Learn More</button>
            </div>
            <!-- <div class="card-body w-2/5 p-2">
              
            </div> -->
            
            <!-- <button class="btn "><span>List your business</span></button>
            <button class="btn"><span>Discover local business</span></button>
            <button class="btn btn-primary"><span>List your business</span></button> -->
            
          </div>
        </div>
        

        <div class= "trending container px-2 trend_s mx-auto  w-full py-3 shadow-xl">
        <!-- <h1 class=" font-semibold text-4xl p-2 uppercase bg-teal-400 mb-5">Whats <span class="italic text-fuchsia-500">Trending</span></h1> -->
        <div class="px-3 py-3  mb-10 blockArticle ">
          <h4 class=" mx-auto latestH1">Latest</h4>
          <h1 class="uppercase  font-bold p-2 text-8xl mb-2 text-fuchsia-600  ">Articles</h1>
          <!-- <img src="../assets/images/vecteezy_decree-novel-scenario-screenplay-abstract-flat-color-icon_18001188-removebg-preview.png" alt=""> -->
        </div>
        <div class="flex  flex-wrap gap-8 justify-center ml-10 mt-10 articlesSection">
              @for (item of articlesToShow ; track item){
                  <div class="card w-1/4 bg-base-100 shadow-xl mx-1 justify-center border">
                    <div class="card-body">
                      <h2 class="card-title font-bold">Article title</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        optio, eaque rerum!</p>
                        <span class="text-blue-400 text-sm ">Read more</span>
                        <div class="card-footer border-t items-center flex justify-between leading-tight  md:p-2 mt-4">
                          
                          <span class="text-grey-darker text-sm text-teal-600 ">
                              April 23, 24
                          </span> <span class=""><svg class="h-8 w-8 text-red-600"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" /></svg></span>
                        </div>
                    </div>
                  </div>
                  }
                  <div class="w-full text-center mt-5">
                    @if (showMoreEnabled) {
                       <button class="btn" (click)="loadMore()"><svg class="h-8 w-8 text-indigo-700"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"> <polyline points="6 9 12 15 18 9" /></svg><span class="loadmore text-2sm text-indigo-700">Load more articles</span></button>
                    }
                   
                  </div>
                  
        </div>
        
        
        
        </div>
        
        
    
   
        <!-- About -->
        
      </div>
      
    </main>
    
<app-footer></app-footer>
    