

/* searh area */

/* Navbar */
.navigation {
    /* background: #F6EFEF; */
    /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
    /* backdrop-filter: blur(5px); */
    z-index: 10;
}

.nvl:hover {
    border: 2px solid rgb(240, 240, 240);
    background-color: #9D2D77;
    color: floralwhite;
    transition: background-color 0.5s ;
    transition-timing-function: ease-in;
    
}